.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    h4 {
        font-size: 0.9rem;
    }

    button {
        background: red;
        border: none;
        color: white;
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 6px;
    }
}

.cart-feedback {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: #25d366;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 9999;
}