.footer {
    background: linear-gradient(180deg, #0f0f14, #07070a);
    text-align: center;
    padding: 3rem 5vw;

    address {
        font-style: normal;
        opacity: .7;
        margin: .8rem 0;
    }

    .footer-nav img {
        width: 38px;
        margin-top: 1rem;
    }
}